.contact {
    position: relative;
    padding: 96px 80px;
}

.contact-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.contact-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-header p {
    align-self: stretch;
    max-width: 576px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-info__email::before {
    content: url("../assets/images/envelope.svg");
}

.contact-info__phone::before {
    content: url("../assets/images/phone-alt.svg");
}

/* Tablet Vertical */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .contact-content-wrapper {
        gap: 24px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .contact-content-wrapper {
        gap: 24px;
    }
}
