:root {
    /* Common */
    --font-family: Inter;
    --font-color: var(--gray-900);

    /* Heading H1 */

    --h1-font-family: var(--font-family);
    --h1-font-color: var(--font-color);

        /* Desktop */
    --h1-font-size-desktop: 60px;
    --h1-line-height-desktop: 72px;
    --h1-letter-spacing-desktop: -0.02em;
    --h1-font-weight-desktop: 700;

        /* Tablet */
    --h1-font-size-tablet: 48px;
    --h1-line-height-tablet: 48px;
    --h1-letter-spacing-tablet: -0.02em;
    --h1-font-weight-tablet: 700;

        /* Mobile */
    --h1-font-size-mobile: 36px;
    --h1-line-height-mobile: 40px;
    --h1-font-weight-mobile: 600;

    /* Heading H2 */

    --h2-font-family: var(--font-family);
    --h2-font-color: var(--font-color);

        /* Desktop */
    --h2-font-size-desktop: 36px;
    --h2-line-height-desktop: 40px;
    --h2-letter-spacing-desktop: -0.02em;
    --h2-font-weight-desktop: 600;

        /* Tablet & Mobile */
    --h2-font-size-tablet-mobile: 18px;
    --h2-line-height-tablet-mobile: 28px;
    --h2-letter-spacing-tablet-mobile: -0.02em;
    --h2-font-weight-tablet-mobile: 600;

    /* Heading H3 */

    --h3-font-family: var(--font-family);
    --h3-font-color: var(--font-color);

        /* Desktop */
    --h3-font-size-desktop: 30px;
    --h3-line-height-desktop: 36px;
    --h3-letter-spacing-desktop: -0.02em;
    --h3-font-weight-desktop-semi-bold: 600;
    --h3-font-weight-desktop-bold: 700;

        /* Tablet & Mobile */
    --h3-font-size-tablet-mobile: 24px;
    --h3-line-height-tablet-mobile: 32px;
    --h3-letter-spacing-tablet-mobile: -0.02em;
    --h3-font-weight-tablet-mobile-semi-bold: 600;
    --h3-font-weight-tablet-mobile-bold: 700;

    /* Subtitle */

    --subtitle-font-family: var(--font-family);
    --subtitle-font-color: var(--font-color);

        /* Desktop */
    --subtitle-font-size-desktop: 20px;
    --subtitle-line-height-desktop: 28px;
    --subtitle-font-weight-desktop-normal: 400;
    --subtitle-font-weight-desktop-semi-bold: 600;

        /* Tablet & Mobile */
    --subtitle-font-size-tablet-mobile: 18px;
    --subtitle-line-height-tablet-mobile: 28px;
    --subtitle-font-weight-tablet-mobile-normal: 400;
    --subtitle-font-weight-tablet-mobile-semi-bold: 600;

    /* Body1 */

    --body-1-font-family: var(--font-family);
    --body-1-font-color: var(--font-color);

        /* Desktop */
    --body-1-font-size-desktop: 18px;
    --body-1-line-height-desktop: 28px;
    --body-1-font-weight-desktop: 400;

        /* Tablet & Mobile */
    --body-1-font-size-tablet-mobile: 16px;
    --body-1-line-height-tablet-mobile: 24px;
    --body-1-font-weight-tablet-mobile: 400;

    /* Body2 */

    --body-2-font-family: var(--font-family);
    --body-2-font-color: var(--font-color);

        /* All Screen Sizes */
    --body-2-font-size: 16px;
    --body-2-line-height: 24px;
    --body-2-font-weight-normal: 400;
    --body-2-font-weight-medium: 500;
    --body-2-font-weight-semi-bold: 600;
    --body-2-text-decoration-line-underline: underline;

    /* Body3 */

    --body-3-font-family: var(--font-family);
    --body-3-font-color: var(--font-color);

        /* All Screen Sizes */
    --body-3-font-size: 14px;
    --body-3-line-height: 20px;
    --body-3-font-weight-normal: 400;
    --body-3-font-weight-medium: 500;
}

/* Any */

h1 {
    font-family: var(--h1-font-family);
    color: var(--h1-font-color);
}

h2 {
    font-family: var(--h2-font-family);
    color: var(--h2-font-color);
}

h3 {
    font-family: var(--h3-font-family);
    color: var(--h3-font-color);
}

.h3--bold {
    font-weight: var(--h3-font-weight-desktop-bold);
}

.subtitle {
    font-family: var(--subtitle-font-family);
    color: var(--subtitle-font-color);
}

.subtitle--semi-bold {
    font-weight: var(--subtitle-font-weight-desktop-semi-bold);
}

.body-1 {
    font-family: var(--body-1-font-family);
    color: var(--body-1-font-color);
}

.body-2 {
    font-family: var(--body-2-font-family);
    color: var(--body-2-font-color);
    font-size: var(--body-2-font-size);
    line-height: var(--body-2-line-height);
    font-weight: var(--body-2-font-weight-normal);
}

.body2--underline {
    text-decoration-line: var(--body-2-text-decoration-line-underline);
}

.body-2--medium {
    font-weight: var(--body-2-font-weight-medium);
}

.body-2--semi-bold {
    font-weight: var(--body-2-font-weight-semi-bold);
}

.body-3 {
    font-family: var(--body-3-font-family);
    color: var(--body-3-font-color);
    font-size: var(--body-3-font-size);
    line-height: var(--body-3-line-height);
    font-weight: var(--body-3-font-weight-normal);
}

.body-3--medium {
    font-weight: var(--body-3-font-weight-medium);
}

/* Desktop */
@media (min-width: var(--desktop-min)) {
    h1 {
        font-size: var(--h1-font-size-desktop);
        line-height: var(--h1-line-height-desktop);
        letter-spacing: var(--h1-letter-spacing-desktop);
        font-weight: var(--h1-font-weight-desktop);
    }

    h2 {
        font-size: var(--h2-font-size-desktop);
        line-height: var(--h2-line-height-desktop);
        letter-spacing: var(--h2-letter-spacing-desktop);
        font-weight: var(--h2-font-weight-desktop);
    }

    h3 {
        font-size: var(--h3-font-size-desktop);
        line-height: var(--h3-line-height-desktop);
        letter-spacing: var(--h3-letter-spacing-desktop);
        font-weight: var(--h3-font-weight-desktop-semi-bold);
    }

    .subtitle {
        font-size: var(--subtitle-font-size-desktop);
        line-height: var(--subtitle-line-height-desktop);
        font-weight: var(--subtitle-font-weight-desktop-normal);
    }

    .body-1 {
        font-size: var(--body-1-font-size-desktop);
        line-height: var(--body-1-line-height-desktop);
        font-weight: var(--body-1-font-weight-desktop);
    }
}

/* Tablet & Mobile */
@media (max-width: var(--tablet-max)) {
    .h2 {
        font-size: var(--h2-font-size-tablet-mobile);
        line-height: var(--h2-line-height-tablet-mobile);
        letter-spacing: var(--h2-letter-spacing-tablet-mobile);
        font-weight: var(--h2-font-weight-tablet-mobile);
    }

    .h3 {
        font-size: var(--h3-font-size-tablet-mobile);
        line-height: var(--h3-line-height-tablet-mobile);
        letter-spacing: var(--h3-letter-spacing-tablet-mobile);
        font-weight: var(--h3-font-weight-tablet-mobile-semi-bold);
    }

    .h3--bold {
        font-weight: var(--h3-font-weight-tablet-mobile-bold);
    }

    .subtitle {
        font-size: var(--subtitle-font-size-tablet-mobile);
        line-height: var(--subtitle-line-height-tablet-mobile);
        font-weight: var(--subtitle-font-weight-tablet-mobile-normal);
    }

    .subtitle--semi-bold {
        font-weight: var(--subtitle-font-weight-tablet-mobile-semi-bold);
    }

    .body-1 {
        font-size: var(--body-1-font-size-tablet-mobile);
        line-height: var(--body-1-line-height-tablet-mobile);
        font-weight: var(--body-1-font-weight-tablet-mobile);
    }
}

/* Tablet */
@media (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
    h1 {
        font-size: var(--h1-font-size-tablet);
        line-height: var(--h1-line-height-tablet);
        letter-spacing: var(--h1-letter-spacing-tablet);
        font-weight: var(--h1-font-weight-tablet);
    }
}

/* Mobile */
@media (max-width: var(--mobile-max)) {
    .h1 {
        font-size: var(--h1-font-size-mobile);
        line-height: var(--h1-line-height-mobile);
        font-weight: var(--h1-font-weight-mobile);
    }
}
