.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Нужен для заполнения всего пространства header */
    padding: 0 32px;
}

.header__logo {
    width: 129px;
    height: 36px;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-burger-button {
    display: none;
    padding: 8px;
    border-radius: 8px;
    background: var(--orange-400);
}

/* Mobile */
@media (max-width: 767px) {
    .header-navigation {
        display: none;
    }

    .header-burger-button {
        display: block;
    }
}

.header-burger-button__image {
    width: 24px;
    height: 24px;
}
