.hero {
    position: relative;
    background: var(--gray-default);
    justify-content: center;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-text-wrapper {
    grid-area: text;
    max-width: 768px;
}

.employ {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: want-to-employ-you;
    align-content: end;
}

.employ__button {
    background: var(--orange-400);
    padding: 8px 48px;
    border-radius: 20px;
}

.hero-portrait {
    width: 320px;
    height: 360px;
    grid-area: portrait;
}

.hero-portrait__shadow {
    display: inline-block;
    width: 280px;
    height: 320px;
    flex-shrink: 0;
    margin-left: 40px;
    border: 8px solid var(--gray-default);
    background: var(--gray-200);
}

.hero-portrait__image {
    width: 280px;
    height: 320px;
    border: 8px solid var(--gray-default);
    margin-top: -360px;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.waves__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: visible;
}

.waves__wave--back {
    background-image: url("../assets/images/wave_back.svg");
    background-repeat: repeat-x;
    height: 82px;
}

.waves__wave--front {
    background-image: url("../assets/images/wave_front.svg");
    background-repeat: repeat-x;
    height: 61px;
}

.waves__apricot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 64px;
    transform: translateX(100%) translateY(-40%);
}

.apricot--turned {
    transform: translateX(200%) translateY(-20%) rotate(40deg);
}
