.site {
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow-x: hidden;
    align-items: center;
}

/* Any */
.site > section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    z-index: 0;
}

/*!* If waves and apricots need to display for the entire length at width higher than 1440px *!*/
/*.site > section:first-child + section {*/
/*    max-width: 100%;*/
/*}*/

/* Desktop */
@media (min-width: 1024px) {
    /* Common padding */
    .site > section {
        padding: 96px 80px;
    }

    /* Header padding */
    .site > section:first-child {
        padding: 16px 80px;
    }

    /* Hero padding */
    .site > section:first-child + section { /* nth-child is not supported in IE */
        padding: 96px 80px 120px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Common padding */
    .site > section {
        padding: 64px;
    }

    /* Header padding */
    .site > section:first-child {
        padding: 16px 80px;
    }

    /* Hero padding */
    .site > section:first-child + section { /* nth-child is not supported in IE */
        padding: 64px 64px 120px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    /* Common padding */
    .site > section {
        padding: 32px 16px;
    }

    /* Header padding */
    .site > section:first-child {
        padding: 16px;
    }

    /* Hero padding */
    .site > section:first-child + section { /* nth-child is not supported in IE */
        padding: 32px 16px 120px;
    }
}
