.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 96px 80px 96px;
    justify-content: center;
    align-items: center;
}

.skills-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.skills-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills-carousel-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 720px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.skill-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 8px;
    width: 102px;
}

.skill-card__image {
    width: 64px;
    height: 64px;
}

.skills__corner-apricot-image {
    position: absolute;
    right: 0;
    bottom: 0;
}